@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.main{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(75deg,#960078,#780399,#c80000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main h1{
    font-size: 50px;
    font-weight: 750;
    color: white;
    margin-top: -50px;
    margin-bottom: 50px;
}
.speech{
    color: #000000;
}
textarea{
    width: 746px;
    height: 214px;
    background: #0d0606;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 6px;
    resize: none;
    margin-bottom: 30px;
}
.options{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 8px 26px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display:flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;;
}
button:hover{
    transition: opacity 0.10s;
}
button:active{
    opacity: 0.4;
}
select{
    flex: 1;
    color: #fff;
    background: #000000;
    height: 40px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    appearance: none;
    background-image: url(dropdown.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px; 
    cursor: pointer;
}